body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
    background-color: 	#D8BFD8;
  margin: auto;
}

	statusBar{
    color: #3D7FCF;
	
}


cartadd{ color: black;
  background-color: #936c6c;
  margin-bottom: 1.5rem;
  height: 4.0rem;
  padding-top: 1.5rem;
  border-bottom: 1.0rem;
  margin: auto;
border-style: groove;}


/***************** NAV *****************/

nav {
  color: black;
  background-color: #936c6c;
  margin-bottom: 1.5rem;
  height: 4.0rem;
  padding-top: 1.5rem;
  border-bottom: 1.0rem;
  margin: auto;
  border-style: groove;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #000000;
  font-size: 2.0rem;
  font-family: sans-serif;
  font-weight: bold;
  float: left;
}

nav a:hover {
  text-decoration: underline;
}

/**************** HEADER *****************/

header {
  margin: auto;
}

header img {
  max-height: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: .05rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #a65959;
  font-size: 2.0rem;
  padding-top: 4.0rem;
}

h1 {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

aside form {
  clear: both;
  float: left;
  padding-left: 1rem;
 }


input[type="button"] {
  padding: .25rem;
  
}

form {
  margin-top: 1.0rem;
}

form label {
  font-size: 1.0rem;
}

form label select {
  margin-top: 0.5rem;
  width: 100%;
}

form input {
  margin-top: .5rem;
}

/*********** PRODUCTS ***********/

section {
	padding: 5rem
}


h2 {
  padding-top: .1rem;
  font-size: 5rem;
  text-align: center;
}

h3 {
  
  padding-top: .5rem;
  font-size: 3rem;
  
 }

 
container div img {
	
	max-width: 20rem;
	position: relative;
	border: 3px solid #000000;
	margin: 5px;
}


button {
  width: 15%;
  font-size: 1rem;
  padding: .25rem 1rem;
  margin: auto auto 0 auto;
}



/* *****Media Queries - small size screen ***/

@media screen and (max-width: 640px) {
	body 	{margin: none;
			 padding: none;
			}
								
	container {margin: none;
				padding:none;
				}
						
	h1 {align-content: center;
		margin-left: auto;
		margin-right: auto;
	   }
						
	menu {display: flex;
		  margin: 1rem;
		  }
	}
	
/****high resolution for Apple Phones****//


@media only screen and (min-device-width:350px) and (max-device-width:600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
}				

														
						
/****aspect ratio****/

@media (min-aspect-ratio:2/1)	{body {color: blue;}
}
											
						
						



 

